@import 'tailwindcss';

* {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: 'Against';
  src: url('/fonts/Against.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-pagination {
  @apply absolute left-1/3 right-0 flex justify-center;
  bottom: -2rem;
  transform: translateX(-100%);
}

.splide__pagination__page {
  @apply w-4 h-4 rounded-full bg-[#2E2714] opacity-50 transition-all duration-300;
}

.splide__pagination__page.is-active {
  @apply opacity-100 bg-[#E4C166];
}

.splide__pagination__page:hover {
  @apply opacity-100 bg-[#E4C166];
}