@import url("https://db.onlinewebfonts.com/c/893fdce7fe8ecb381f012ce2edd2dd6c?family=against-Regular");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@splidejs/splide/css";

@font-face {
    font-family: "against-Regular";
    src: url("https://db.onlinewebfonts.com/t/893fdce7fe8ecb381f012ce2edd2dd6c.eot");
    src: url("https://db.onlinewebfonts.com/t/893fdce7fe8ecb381f012ce2edd2dd6c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/893fdce7fe8ecb381f012ce2edd2dd6c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/893fdce7fe8ecb381f012ce2edd2dd6c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/893fdce7fe8ecb381f012ce2edd2dd6c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/893fdce7fe8ecb381f012ce2edd2dd6c.svg#against-Regular")format("svg");
}



* {
  font-family: "Montserrat", sans-serif;
}

.typography {
  font-family: "against-Regular", sans-serif;
}


html {
  scroll-behavior: smooth;
}

.custom-pagination {
  @apply absolute left-1/3 right-0 flex justify-center scale-125;
  transform: translateX(-80%);
}

.splide__pagination__page {
  @apply w-4 h-4 rounded-full bg-[#2E2714] opacity-50 transition-all duration-300;
}

.splide__pagination__page.is_active {
  @apply bg-amber-300;
}

.splide__pagination__page:hover {
  @apply opacity-100 bg-[#E4C166];
}
